<mat-card>
    <h1>Add Students</h1>
    <form #addForm = "ngForm" (ngSubmit) = "onSubmit()">
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput
                [(ngModel)] = "name"
                name = "name"
                required>
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Math</mat-label>
                <input matInput [(ngModel)] = "math"
                name = "math"
                type = "math"
                required>             
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <mat-label>Psyco</mat-label>
                <input matInput [(ngModel)] = "psycho"
                name = "psycho"
                type = "psycho"
                required>             
              </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="standard">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Payed</mat-label>
                        <mat-select place-holder = "Is Payed" [(ngModel)] = "payed" name = "payed" required>
                          <mat-option *ngFor="let pay of varPay" [value]="pay">
                            {{pay}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>      
              </mat-form-field>
        </div>
        <div >
          <button mat-raised-button color="" (click)= "updateParent()">
            Add Student         
          </button>
          <button mat-raised-button color="" (click)= "tellParentToClose()">
            CANCEL            
        </button>
          

        </div>
    </form>
</mat-card>
