<table mat-table [dataSource]="students" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element ; let i = index"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element ; let i = index"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="math">
      <th mat-header-cell *matHeaderCellDef> Math Average </th>
      <td mat-cell *matCellDef="let element ; let i = index"> {{element.math}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="psycho">
      <th mat-header-cell *matHeaderCellDef> Psycho </th>
      <td mat-cell *matCellDef="let element ; let i = index"> {{element.psycho}} </td>
    </ng-container>


    <ng-container matColumnDef="payed">
        <th mat-header-cell *matHeaderCellDef> Is Payed? </th>
        <td mat-cell *matCellDef="let element ; let i = index"> {{element.payed}} </td>
      </ng-container>


      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef> Predict </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button *ngIf = "!element.result" mat-raised-button 
          color="primary"
          (click) = "predict(i)"
          >
          Predict
        </button>  
        <button *ngIf = "element.result&&!element.saved" mat-raised-button 
        color="primary"
        (click) = "updateResult(i)"
        >
        Save
      </button>
      <button *ngIf = "element.result&&!element.saved" mat-raised-button 
      color="primary"
      (click) = "updateResult(i)"
      >
      Cancale
    </button>
        <span *ngIf = "element.saved">saved</span>        
        </td>
      </ng-container> 
      <ng-container matColumnDef="drop">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-select  selected = "element.result" [(ngModel)] = "result" name = "result" required>
            <mat-option *ngFor="let val of resArr" [value]="val">
              {{val}}
            </mat-option>
          </mat-select>  
      </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>